apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

commonAnnotations:
  configsync.gke.io/cluster-name-selector: "{{ cluster_name|trim }}"
  managing-repo: platform
  cluster-group: "{{ cluster_group|trim }}"

commonLabels:
  foo: bar
{% if cluster_name|trim == 'US39016CLS01' %}
  super-special: im-a-little-teapot
{% endif %}

resources:
{% for item in ['clusterdns', 'rbac', 'robin', 'vmruntime'] %}
  - ../../base_library/{{ item }}
{% endfor %}
